<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
	<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
    http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

	<menuitem title="Company Detail" name="menu-comp" />
	
	<menuitem title="Employees" name="menu-comp-emp" parent="menu-comp" action="emp.click" />
	<menuitem title="Departments" name=" menu-comp-dept" parent="menu-comp" action="dept.click" />
	<menuitem title="Salary" name="menu-comp-salary" parent="menu-comp" action="salary.click"/>
	<menuitem title="Leaves" name="menu-comp-leaves" parent="menu-comp" action="leaves.click"/>
	<menuitem title="Project" name="menu-comp-project" parent="menu-comp"/>
	<menuitem title="Project Details" name="menu-comp-project-detail" parent="menu-comp-project" action="proj.click" />
	<menuitem title="Tasks" name="menu-comp-project-task" parent="menu-comp-project" action="projectTask.click"/>
	<menuitem title="Sub-Tasks" name="menu-comp-project-subtask" parent="menu-comp-project" action="projectSubTask.click"/>
	<menuitem title="Task Tree" name="menu-comp-project-tree" parent="menu-comp-project" action="projectTaskTree.click"/>
	
	<menuitem title="Client" name="menu-comp-client" parent="menu-comp" action="client.click"/>
		<action-view name="client.click" title="Clients" model="com.aop.company.db.Client">
			<view type="grid" name="client-grid"/>
			<view type="form" name="client-form"/>
		</action-view>
		
	<menuitem title="Product" name="menu-comp-product" parent="menu-comp" action="product.click"/>
		<action-view name="product.click" title="Prducts" model="com.aop.company.db.Product">
			<view type="grid" name="product-grid" />
			<view type="form" name="product-form"/>
		</action-view>
			
	<!--  <menuitem name="menu-project-tasks-tree" parent="menu-comp" title="Project Tasks (tree)" action="project.tasks.tree" /> -->
	
	<action-view name="emp.click" title="Employees" model="com.aop.company.db.Employee">
		<view type="grid" name="emp-grid" />
		<view type="form" name="emp-form" />
		<view type="cards" name="emp-card"/>
	</action-view>

	<action-view name="dept.click" title="Departments" model="com.aop.company.db.Department">
		<view type="grid" name="dept-grid" />
		<view type="form" name="dept-form" />
	</action-view>
	
	<action-view name="leaves.click" title="Leaves" model="com.aop.company.db.Leaves">
		<view type="grid" name="dept-grid" />
		<view type="form" name="dept-form" />
	</action-view>

	<action-view name="proj.click" title="Projects" model="com.aop.company.db.Project">
		<view type="grid" name="proj-grid" />
		<view type="form" name="proj-form" />
	</action-view>
	
	<action-view name="projectTask.click" title="Project Task" model="com.aop.company.db.ProjectTask">	
		<view type="grid" name="project-task-grid"/>
		<view type="form" name="project-task-form"/>
	</action-view>
				
	<action-view name="projectSubTask.click" title="Project Sub-Task" model="com.aop.company.db.SubTask">
		<view type="grid" name="project-subtask-grid"/>
		<view type="form" name="project-subtask-form"/>
		<view type="kanban" name="project-subTask-kanban"/>
	</action-view>
	
	<action-view name="projectTaskTree.click" title="Task Tree" model="com.aop.company.db.Project">
		<view type="tree" name="task-tree"/>
	</action-view>
	
	<action-view name="salary.click" title="" model="com.aop.company.db.Salary">
		<view type="form" name="salary-form"/>
		<view type="grid" name="salary-grid"/>
	</action-view>
	
	
<!-- TREE VIEW locations-->
	<menuitem name="menu-project-test" title="Locations"/>
	<menuitem title="Tree View" name="menu-project-test-tree" parent="menu-project-test" action="tree.all"/>
	<menuitem title="Configure" name="menu-project-test-config" parent="menu-project-test"/>
	<menuitem title="City" name="menu-project-test-config-city" parent="menu-project-test-config" action="city.all"/>
	<menuitem title="State" name="menu-project-test-config-state" parent="menu-project-test-config" action="state.all"/>
	<menuitem title="Country" name="menu-project-test-config-country" parent="menu-project-test-config" action="country.all"/>
	<menuitem title="Continent" name="menu-project-test-config-continent" parent="menu-project-test-config" action="continent.all"/>

	<action-view name="tree.all" title="" model="com.aop.company.db.Continent">
		<view type="tree" name="test-tree"/>
	</action-view>
	
	<action-view name="city.all" title="" model="com.aop.company.db.City">
		<view type="grid" name="city-grid"/>
		<view type="form" name="city-form"/>	
	</action-view>
		
	<action-view name="state.all" title="" model="com.aop.company.db.State">
		<view type="grid" name="state-grid"/>
		<view type="form" name="state-form"/>	
	</action-view>	
	
	<action-view name="country.all" title="" model="com.aop.company.db.Country">
		<view type="grid" name="country-grid"/>
		<view type="form" name="country-form"/>	
	</action-view>	
	
	<action-view name="continent.all" title="" model="com.aop.company.db.Continent">
		<view type="grid" name="continent-grid"/>
		<view type="form" name="continent-form"/>
	</action-view>
	
<!-- Gantt view -->	
	<menuitem name="gantt-item" title="Project Task Gantt" action="projectTask.gantt" />
	
	<action-view name="projectTask.gantt" title="Project Task Gantt" model="com.aop.company.db.ProjectTask">
		<view type="gantt" name="projectTask-gantt"/>
	</action-view>
	
	<menuitem name="dashboard-item"
            parent="menu-comp-project"
            title="Project Task Dashboard"
            action="projectTask.dashboard"/>

    <action-view name="projectTask.dashboard"
               title="Project Task Dashboard">
    	<view type="dashboard" name="projectTask-dashboard"/>  
   </action-view>
	
<!-- for  chart view -->	
	
	<menuitem title="Dashbaord" name="menu-dashboard" action="test.dashboard.all"/>
	<action-view name="test.dashboard.all" title="Dashboard">
		<view type="dashboard" name="test-dashboard"/>
	</action-view>
	<dashboard name="test-dashboard" title="Dashboard">
		<dashlet action="chart:chart.test.bar"/>
		<dashlet action="chart:chart.test.pie"/>
		<dashlet action="chart:chart.test.hbar" />
		<dashlet action="chart:chart.test.line"/>
		<dashlet action="chart:chart.test.donut"/>
		<dashlet action="chart:chart.test.scatter"/>
		<dashlet action="chart:chart.test.gauge"/>
		<dashlet action="chart:chart.test.area"/>
		<dashlet action="chart:chart.test.radar"/>	
	</dashboard>
	
<!-- Calendar view -->
	<menuitem name="projectTask-calendar" title="ProjectTask Calendar" parent="menu-comp-project"  action="task.calendar"/>
		<action-view name="task.calendar" title="Calendar.action" model="com.aop.company.db.ProjectTask">
			<view type="calendar" name="project.task.calendar"/>
		</action-view>
		
		
	
	
</object-views>